
.header {
    background: url(../images/header-bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 650px;
    position: relative;
}

.top_header {
    padding: 2em 0;
}

.title h1 {
    margin: 0;
    font-weight: bold;
    color: #fff;
    /*line-height: 44px;*/
}

.logo {
    float: left;
}

.title .logo a {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
}

.logo span {
    border: 7px solid #00a78e;
    padding: 0px 14px;
    font-size: 1.2em;
    color: #fff;
}

.navigation-right {
    float: right;
}

.navigation-right ul li {
    display: inline-block;
    position: relative;
}

.navigation-right nav a:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0;
    max-width: 0;
    border-bottom: 3px solid #00a78e;
    color: #00a78e;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
    white-space: nowrap;
}

.navigation-right nav a:hover:before {
    max-width: 100%;
}

.nav-list nav a {
    padding: 10px 0;
    margin: 0 12px;
    color: #797878;
    text-shadow: none;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

.nav-list ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.top_nav > div:after, .top_nav > div:before {
    content: "";
    display: block;
}

.top_nav > div:after {
    clear: both;
}

.title.fixed {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 99;
    background: rgba(0, 0, 0, .58);
    left: 0;
    right: 0;
    margin: auto;
    padding: 7px 0;
}

.title.fixed .top_nav > div {
    /*width:1140px;*/
    margin: 0 auto;
}

.nav-list nav .active a {
    color: #00a78e;
}

/*信息*/
.header .banner_info {
    background: rgba(23, 20, 20, 0.58);
    margin-top: 7em;
}

.header .header_right, .header .header_left {
    padding: 48px;
}

.header_right h1 {
    font-size: 20px;
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0.5em 0 0;
    font-weight: bold;
}

.header_right h1:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;

}

.header_right h6 {
    margin: 10px 0;
    font-size: 16px;
    color: #C7C7C7;
    /*margin-top: 0.8em;*/
    margin-top: 1.2em;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header_right ul {
    margin-top: 32px;
    border-top: 1px solid #AFAFAF;
    padding-top: 8px;
}

.header_right ul li {
    padding: 16px 0 0 0;
}

.header_right li > div {
    display: inline-block;
    color: #fff;
    font-weight: 400;
}

.header_right li div:nth-child(1) {
    width: 20%;
}

.title .menu {
    display: none;
}

.header_left img {
    width: 100%;
}

.bottom_header {
    text-align: center;
    color: #00a78e;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

.bottom_header:after, .bottom_header:before {
    content: "";
    display: block;
}

.bottom_header:after {
    clear: both;
}

.bottom_header > span {
    transform: rotate(90deg) scaleY(2);
    font-weight: 900;
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    cursor: pointer;
}

.menu-nav {
    display: none;
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
}

.title {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
}

.wrapper {
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
}

/*关于我*/
.about {
    background: #f4f4f4;
    overflow: hidden;
}

.about > div {
    height: 100%;
    padding: 0;
}

.personal div {
    min-height: 580px;
    background: url("../images/me.jpg") 0 0 no-repeat;
    background-size: cover;
}

.about .about-right {
    float: right;
    padding: 4.5em 0;
}

.about-right > div {
    width: 464px;
    margin: 0 auto;
}

.about .about-right h1 {
    color: #191919;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Asap', sans-serif;
}

.about .about-right p {
    color: #666666;
    font-size: 1em;
    line-height: 2em;
    margin-top: 1.5em;
}

.about .about-right ul {
    margin-top: 3em;
}

ul:before, ul:after {
    display: block;
    content: "";

}

ul:after {
    clear: both;
}

.about .about-right li {
    float: left;
    margin-right: 20px;
}

.about-right li a {
    border: 2px solid #00a78e;
    border-radius: 50px;
    color: #00a78e;
    padding: 0.6em 2em;
    display: block;
}

#services {
    padding: 5em 0;
    background: #1b242f;
}

.services-head {
    text-align: center;
}

.services-head h2 {
    font-size: 1.2em;
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    padding: .5em 1.5em;
    /*margin-bottom: 15px;*/
    position: relative;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services-head h2:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: #00a78e transparent transparent transparent;
}

.services-head h3 {
    color: #1b242f;
    font-size: 1.8em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0 0 0.2em 0;
}

.services-head.color h3 {
    color: #fff;
}

.services-head .boder-line {
    width: 18%;
    background: #8C8989;
    height: 1px;
    display: block;
    position: relative;
    margin: 26px auto 0px;
}

.boder-line:after {
    content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -3px;
    left: 0;
    right: 0;
    margin: auto;
}

.services-head.color .boder-line {
    background: #fff;
}

#services .services-con {
    margin-top: 4em;
}

#services ul {
    overflow: hidden;
}

#services li {
    float: left;
    overflow: hidden;
    margin-bottom: 2em;
}

#services li:hover .skill-img:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#services li:hover .iconfont {
    color: #fff;
}

#services li > div {
    float: left;
    padding: 0;
}

#services .skill-img {
    margin: 20px auto 0;
    font-size: 20px;
    color: #00a78e;
    background: #00a78e;
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.skill-img:before {
    margin: 20px auto 0;
    width: 70px;
    height: 70px;
    background: #fff;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
}

.skill-img .iconfont {
    position: relative;
    font-size: 1.8em;
    color: #00a78e;
    line-height: 70px;
    text-align: center;
}

.skill-img .icon-php {
    line-height: 75px;
}

.skill-img .icon-buju, .skill-img .icon-html5 {
    line-height: 79px;

}

#services .skill-con {
    /*padding:0 0 0 15px;*/
}

#services .skill-name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #00a78e;
    font-weight: bold;
}

#services .skill-miaosu {
    margin: 1em 0 0;
    color: #586371;
    line-height: 1.9em;
    font-size: 0.9em;
    height: 81px;
}

/**************经历**************/
.e-con{
    margin-top: 3em;

}
#experience .e-con {
    margin-top: 3em;
    position: relative;
    padding: 1em 0 2em;
}

#experience .e-con:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #ccc;
    left: 0;
    right: 0;
    margin: auto;
}

#experience li {
    float: right;
    margin-bottom: 10px;
}

#experience li.left {
    float: left;
}

#experience li.left .t-panel {
    float: left;
}

#experience li.left .t-panel > div {
    text-align: right;
}

#experience .t-panel {
    width: calc(100% - 150px);
    float: right;
    border: 1px solid #d4d4d4;
    padding: 15px 15px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #fff;
    border-bottom: 5px solid #00a78e;
}

#experience li.left .t-panel i {
    left: 531px;
}

#experience .t-panel i {
    top: 0;
    bottom: 0;
    position: absolute;
    left: -94px;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #ccc;
    border-radius: 50%;
}

#experience .t-panel > div {

    position: relative;
}

#experience .t-panel > div > h4 {
    color: #1b242f;
    font-size: 1.2em;
    font-weight: 600;
}

#experience .t-panel > div > p {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    color: #777;
    line-height: 1.9em;
}

#experience .t-panel:before {
    position: absolute;
    top: 18px;
    left: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-right: 15px solid #ccc;
    border-left: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

#experience .t-panel:after {
    position: absolute;
    top: 19px;
    left: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

#experience li.left .t-panel:after {
    left: 483px;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
}

#experience li.left .t-panel:before {
    left: 483px;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
}


.padding-top{
    padding-top: 5em;
}
/**********作品***********/
#portfolio .e-con>div{
    margin-bottom: 30px;
}
#portfolio .e-con>div:hover .text-wrap {
    opacity: 1;
    visibility: visible;
}
#portfolio .e-con .One img{
    width:100%;
}
.e-con>div .One{
    position: relative;
    height: 100%;
    display: block;
}
.e-con>div .text-wrap{
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    vertical-align: middle;
    background: rgba(0, 167, 142, 0.67);
    background: linear-gradient(to right, rgba(0, 167, 142, 0.77) 0%, rgba(70, 89, 205, 0.77) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3387b', endColorstr='#8628cd', GradientType=1);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.text-wrap .text-inner {
    width: 100%;
    height: 100%;
    display: table;
}
/*.text-wrap .text-inner:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f064";
    font-size: 20px;
    color: #fff;
}*/
.text-wrap .text-inner > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.text-wrap .text-inner > div h2 {
    font-size: 18px;
    margin: 0;
    color: #fff;
    display: inline-block;
}
.text-wrap .text-inner > div span {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
.LookPicture .search{
    position:absolute;
    top:20px;left:20px;
    z-index: 19960925;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 27px;
    color:#fff;
}
.LookPicture .search.icon-sousuo-sousuo:before{
    content: "\e606";
}
    /**********blog***********/
#blog{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 4em;
}
#blog .e-con>ul>li{
    margin-bottom: 2em ;
    overflow: hidden;
    background: #f4f4f4;
}
#blog .e-con>ul>li:hover{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    box-shadow: 0 3px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 3px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 3px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -o-box-shadow: 0 3px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#blog .e-con li img{
    width: 100%;
}
#blog .e-con li>div{
    padding:0 ;
}
#blog .e-con .date{
    padding: 3.38em 2em 2em;
    /*padding-bottom: 0;*/
    background: #f4f4f4;
}
#blog .e-con .date .blog-title{
    font-family: 'Asap', sans-serif;
    font-size: 1.4em;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: bold;
}
#blog .e-con .date .blog-title a{
    color: #00a78e;
}

#blog .e-con .date .info {
    padding: 0;
    overflow: hidden;
}
#blog .e-con .date .info li{
    display: inline-block;
    margin-right: 1em;
    font-size: 14px;
}
#blog .e-con .date .info li>p,#blog .e-con .date .info li>i{
    display: inline-block;
    vertical-align:middle;
    line-height: 22px;
    margin:0;
    color: #777;
}
#blog .e-con .date .info li>i{
    font-size: 20px;
    color: #333;
    margin-top:2px;
}
#blog .e-con .date .con{
    font-size: 0.9em;
    line-height: 1.9em;
    margin: 1em 0 2em 0;
    color: #777;
}
#blog .e-con .date .con p{
    margin: 0;
}
.menu-gd:hover{
    background: #00a78e;
}
.menu-gd:hover a{
    color: #fff;
}
.menu-gd{
    display: inline-block;
    font-size: 1em;
    color: #00a78e;
    border: 2px solid #00a78e;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.menu-gd a{
    text-align: center;
    width: 130px;
    color: #00a78e;
    padding: 0.5em 1.5em;
    display: block;
}
#blog .left{
    text-align: right;
}
#blog .left .info ul{
    float: right;
}

/*********与我联系*********/
#contact{
    min-height: 650px;
    padding: 4em 0 0em 0;
    background:url("../images/contact.jpg") no-repeat center top;;
    background-size:cover;
}
#contact .e-con ul{
}
#contact .e-con li{
    height:100%;
    overflow: hidden;
    /*margin:0 5px;*/
    padding: 0 5px;
}
#contact .e-con li>div {
    height:100%;
    background:#fff;
    padding-right: 15px;
    padding-left: 15px;
}
#contact .e-con li>div>div{
    padding: 2em;
    border-bottom: 1px ridge rgb(214, 212, 212);
    text-align: center;
    height: 201px;
}
#contact .e-con li>div>div:last-child{
    border:0;
}
#contact .e-con li>div>div i{
    font-size: 1.5em;
    color: #00a78e;
}
#contact .e-con li>div>div span {
    display: block;
    color: #999;
    margin-bottom: 1em;
    font-size: 14px;
}
#contact .e-con li>div>div span a{
    color: #00a78e;
}
#contact .e-con li>div>div span a:hover{
    color: #999;

}
#contact .e-con li>div>div span b{
    font-size: 14px;
    color: #999;
    font-weight: 400;
}
#contact .e-con li:nth-child(2) div{
    padding: 2em;
}
#from input{
    background: none;
    width: 100%;
    color: #999;
    padding: 19px 10px;
    margin-bottom: 24px;
    outline: none;
    border: 2px solid #00a78e;
}
#from textarea{
    height: 200px;
    resize: none;
    background: none;
    width: 100%;
    color: #999;
    padding: 19px 10px;
    margin-bottom: 24px;
    outline: none;
    border: 2px solid #00a78e;

}
#from button:hover{
    background: #00a78e;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    color: #fff;
}
#from button{

    border: none;
    outline: none;
    color: #fff;
    background: #212322;
    font-size: 16px;
    padding: 12px 40px;
}
.icon{
    margin: 4em 0 2em;
}
.icon .social-icons{
    padding: 0;
    text-align: center;
}
.social-icons li{
    display: inline-block;
    margin-right: 1%;
}
.social-icons li a{
    display: block;
    height: 32px;
    width: 32px;
    margin-right: 1em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
    position: relative;
}

.social-icons li a:before{
    line-height: 32px;
}
.social-icons li a:hover:after {
    border-color: #00a78e;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.social-icons li a:after {
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    margin: auto;
    content: '';
    display: block;
    height: 32px;
    width: 32px;
    border: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media (max-width: 1200px) {
    /*经历*/
    #experience li.left .t-panel:after {
        left: 365px;
    }

    #experience li.left .t-panel:before {
        left: 365px;
    }

    #experience li.left .t-panel i {
        left: 432px;
    }

    #experience .t-panel i {
        left: -110px;
    }
    /*博客*/
    #blog .e-con .date {
        padding: 0.7em 2em 2em 2em;
    }
}

@media (max-width: 991px) {

    body.header-visible .title {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    body.header-visible .menu-nav {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    body.header-visible .wrapper {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .header .banner_info {
        margin-top: 7em;
    }

    .header {
        min-height: 563px;
    }

    .top_header {
        padding: 2em 0 3em;
    }

    .header .header_right {
        float: left;
        padding: 2.5em;
    }

    .header_right ul {
        margin-top: 2rem;
    }

    .header .header_left {
        padding: 59px 2em;
    }

    .title .menu {
        margin: 0.7em 0 0;
        display: block;
        cursor: pointer;
        text-align: center;
        float: right;
    }

    .title .navigation-right {
        display: none;
    }

    /*导航*/
    .menu-nav {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        /*width:23em;*/
        width: 50%;
        background: #00a78e;
        font-size: 1em;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .menu-nav ul li a {

        padding: 18px 0;

    }

    .menu-nav li.active {
        background: #fff;
    }

    /*关于我们*/
    .about .about-right {
        float: none;
    }

    .personal {
        float: none;
        min-height: 517px;
    }

    .personal > div {
        min-height: 517px;
    }

    .about-right > div {
        width: 728px;
        margin: 0 auto;
    }

    /*经验*/
    #experience li.left .t-panel:after {
        left: 365px;
    }

    #experience li.left .t-panel:before {
        left: 365px;
    }

    #experience li.left .t-panel i {
        left: 432px;
    }

    #experience .t-panel i {
        left: -110px;
    }
    #experience .t-panel {
        width: calc(100% - 108px);
    }
    #experience .e-con:before {
        top: 0;
        bottom: 0;
        left: -90%;
        right:0;
    }
    /*博客*/
    #blog .e-con .date .blog-title {
        font-size: 1.1em;

    }

}

@media (max-width: 767px) {

    .top_header {
        padding: 1.5em 0 0;
    }

    .header .banner_info {
        margin-top: 5em;
    }

    .header .header_right {
        padding: 1em;
    }

    .header_right h1 {
        margin: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }

    .header_right h1:before {
        top: 0;
        bottom: 0;
        margin: auto;
        left: 100px;
        border-width: 10px 0 10px 14px;
        border-color: transparent transparent transparent #00a78e;
    }

    .header_right h6 {
        position: absolute;
        top: 10px;
        left: 50%;
        margin: 10px 0;
        font-size: 16px;
        color: #C7C7C7;
        margin-top: 1.2em;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .header_right ul {
        margin-top: 1.5rem;
    }

    .header_right ul li {
        padding: .5rem 0 0 0;
        font-size: .2rem;
    }

    .header .header_left {
        padding: 3.5em;
        padding-top: 0em;
        padding-bottom: 1.5em;

    }

    body.header-visible .title {
        -webkit-transform: translateX(-77%);
        transform: translateX(-77%);
    }

    body.header-visible .wrapper {
        -webkit-transform: translateX(-77%);
        transform: translateX(-77%);
    }

    .menu-nav {
        width: 77%;
        right: 0;
    }

    /*关于我们*/
    .about .about-right li {
        margin-right: 10px;
    }

    .about .about-right {
        float: none;
        padding: 0 10px 30px;
    }

    .about .about-right ul {
        margin-top: 1em;
    }

    .personal {
        float: none;
        min-height: 290px;

    }

    .personal > div {
        min-height: 290px;
    }

    .about-right > div {
        width: 290px;
        margin: 0 auto;
    }

    #services .skill-name {
        text-align: center;
    }

    #services .skill-miaosu {
        text-align: center;
    }

    #services .skill-img {
        margin: 0 auto 0;
    }

    .skill-img:before {
        margin: 0 auto 0;

    }

    /*工作经验*/
    #experience .t-panel i {
        left: -79px;
    }
    #experience .t-panel {
        width: calc(100% - 55px);
    }
    #experience .e-con:before {

        left: 14px;
        margin: 0;
    }
    #contact .e-con li {
        margin-top: 1em;
    }

}